[Unit]
Description=Sentinel System Monitor
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/sentinel
WorkingDirectory=/usr/local/bin
User=root
Group=root
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=sentinel
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
